discord.py==2.3.2
requests==2.31.0
python-dotenv==1.0.0
aiohttp==3.9.1
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
multidict==6.0.4
urllib3==2.1.0
yarl==1.9.4
matplotlib==3.7.1
numpy==1.24.3
cycler==0.11.0
kiwisolver==1.4.4
pillow==10.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0 